
@{
    Layout = "~/Views/Shared/_MainPageAdmin.cshtml";
}

<div class="hello">
    <br />
    <h1 style="text-align:center;">Quản lý sinh viên</h1>
    <br />
</div>

<div class="buttons">
    <button id="create" style="background-color: forestgreen;">Thêm sinh viên</button>
    <button id="edit">Chỉnh sửa thông tin</button>
    <button id="delete" style="background-color: darkred;color:white">Xóa sinh viên</button>
    <button id="start" style="background-color: black;color:white;">Tìm kiếm</button>
    <button style="background-color: deepskyblue;" onclick="location.href='@Url.Action("MainPageAdmin", "Home")'">Trở về trang chủ</button>
</div>

<div class="search">
    <br />
    <form asp-action="SearchStudents_AdminView" method="get">
        <input type="text" name="searchQuery" placeholder="Tìm kiếm theo tên" />
        <button type="submit">Tìm kiếm</button>
    </form>
    <br />
</div>

@model IEnumerable<QuizManagement.Models.Student>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Email</th>
        <th>Faculty</th>
    </tr>
    @foreach (var student in Model ?? new List<QuizManagement.Models.Student>())
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.Name</td>
            <td>@student.DOB.ToString("dd-MM-yyyy")</td>
            <td>@student.Gender</td>
            <td>@student.Address</td>
            <td>@student.Email</td>
            <td>@student.Faculty</td>
        </tr>
    }
</table>

<div class="overlay">
    <div class="add">
        <form asp-action="CreateStudent_AdminView" asp-controller="Database" method="post">
            <label style="width: 500px; height: 24px;" for="Id">Mã số sinh viên</label>
            <br />
            <input type="text" name="Id" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Name">Họ và tên</label>
            <br />
            <input type="text" name="Name" required />
            <br />
            <label style="width: 500px; height: 24px;" for="DOB">Ngày sinh</label>
            <br />
            <input type="date" name="DOB" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Gender">Giới tính</label>
            <br />
            <select name="Gender" id="gender" required>
                <option value="" disabled selected>Chọn giới tính</option>
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
            <br />
            <label style="width: 500px; height: 24px;" for="Address">Địa chỉ</label>
            <br />
            <input type="text" name="Address" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Email">Email</label>
            <br />
            <input type="email" name="Email" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Phone">Số điện thoại</label>
            <br />
            <input type="tel" name="Phone" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Faculty">Khoa</label>
            <br />
            <input type="text" name="Faculty" required />
            <br />
            <button type="submit" style="background-color:deepskyblue;position:fixed;">Thêm</button>
        </form>
        <button id="back">Trở về</button>
    </div>
</div>

<div class="overlay2">
    <div class="add2">
        <form asp-action="EditStudent_AdminView" asp-controller="Database" method="post">
            <label style="width: 500px; height: 24px;" for="Id">Mã số sinh viên</label>
            <br />
            <input type="text" name="Id" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Name">Họ và tên</label>
            <br />
            <input type="text" name="Name" required />
            <br />
            <label style="width: 500px; height: 24px;" for="DOB">Ngày sinh</label>
            <br />
            <input type="date" name="DOB" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Gender">Giới tính</label>
            <br />
            <select name="Gender" id="gender" required>
                <option value="" disabled selected>Chọn giới tính</option>
                <option value="M">M</option>
                <option value="F">F</option>
            </select>
            <br />
            <label style="width: 500px; height: 24px;" for="Address">Địa chỉ</label>
            <br />
            <input type="text" name="Address" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Email">Email</label>
            <br />
            <input type="email" name="Email" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Phone">Số điện thoại</label>
            <br />
            <input type="tel" name="Phone" required />
            <br />
            <label style="width: 500px; height: 24px;" for="Faculty">Khoa</label>
            <br />
            <input type="text" name="Faculty" required />
            <br />
            <button type="submit" style="background-color:deepskyblue;position:fixed;">Chỉnh sửa</button>
        </form>
        <button id="back2">Trở về</button>
    </div>
</div>

<div class="overlay3">
    <div class="add3">
        <form asp-action="DeleteStudent_AdminView" asp-controller="Database" asp-route-string="Id" method="post">
            <label style="width: 500px; height: 24px;" for="Id">Mã số sinh viên</label>
            <br />
            <input type="text" name="Id" required />
            <br />
            <button type="submit" style="background-color:deepskyblue;position:fixed;">Xóa</button>
        </form>
        <button id="back3">Trở về</button>
    </div>
</div>

<style>
    button {
        padding: 10px;
        margin: 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add {
        display: flex;
        flex-direction: column;
        width: 600px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng mờ */
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .add2 {
        display: flex;
        flex-direction: column;
        width: 600px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng mờ */
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .add3 {
        display: flex;
        flex-direction: column;
        width: 600px;
        background-color: rgb(255, 255, 255);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng mờ */
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    input, select {
        height: 36px;
        width: 500px;
    }

    .search {
        display: none;
        justify-content: center;
        align-items: center;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }

    .overlay2 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }

    .overlay3 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
        z-index: 1000;
        align-items: center;
        justify-content: center;
    }

    table {
        border: 1px solid;
        transform: translateX(20vw);
        text-align: left;
    }

    th {
        background-color: black;
        color: white;
    }

    tr {
        height: 20px;
    }

    td {
        width: auto;
    }
</style>

<script>
    document.getElementById('start').addEventListener('click', function () {
        document.querySelector('.search').style.display = 'flex';
    });

    document.getElementById('create').addEventListener('click', function () {
        document.querySelector('.overlay').style.display = 'flex';
    });

    document.getElementById('edit').addEventListener('click', function () {
        document.querySelector('.overlay2').style.display = 'flex';
    });

    document.getElementById('delete').addEventListener('click', function () {
        document.querySelector('.overlay3').style.display = 'flex';
    });

    document.getElementById('back').addEventListener('click', function () {
        document.querySelector('.overlay').style.display = 'none';
    });

    document.getElementById('back2').addEventListener('click', function () {
        document.querySelector('.overlay2').style.display = 'none';
    });

    document.getElementById('back3').addEventListener('click', function () {
        document.querySelector('.overlay3').style.display = 'none';
    });
</script>
