@{
    Layout = "~/Views/Shared/_MainPageAdmin.cshtml";
}

<div class="hello">
    <br />
    <h1 style="text-align:center;">Quản lý giảng viên</h1>
    <br />
</div>

<div class="buttons">
    <button style="background-color: forestgreen;">Thêm giảng viên</button>
    <button style="background-color: black;color:white;">Tìm kiếm</button>
    <button style="background-color: deepskyblue;" onclick="location.href='@Url.Action("MainPageAdmin", "Home")'">Trở về trang chủ</button>
</div>

<style>
    button {
        padding: 10px;
        margin: 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {
        border: 1px solid;
    }
</style>

@model IEnumerable<QuizManagement.Models.Lecturer>
<table>
    <tr>
        <th>Citizen ID</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Email</th>
        <th>Faculty</th>
    </tr>
    @foreach (var lecturer in Model ?? new List<QuizManagement.Models.Lecturer>())
    {
        <tr>
            <td>@lecturer.Id</td>
            <td>@lecturer.Name</td>
            <td>@lecturer.DOB.ToString("dd-MM-yyyy")</td>
            <td>@lecturer.Gender</td>
            <td>@lecturer.Address</td>
            <td>@lecturer.Email</td>
            <td>@lecturer.Faculty</td>
        </tr>
    }
</table>