@{
    Layout = "~/Views/Shared/_MainPageLecturer.cshtml";
}

<div class="hello">
    <br />
    <h1 style="text-align:center;">Quản lý đề thi</h1>
    <br />
</div>

<div class="buttons">
    <button style="background-color: forestgreen;">Thêm đề thi</button>
    <button style="background-color: deepskyblue;" onclick="location.href='@Url.Action("MainPageLecturer", "Home")'">Trở về trang chủ</button>
</div>

@model IEnumerable<QuizManagement.Models.Quizzes>
<table>
    <tr>
        <th>Quiz ID</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Time Limit</th>
        <th>Questions</th>
    </tr>
    @foreach (var quizzes in Model)
    {
        <tr>
            <td>@quizzes.Id</td>
            <td>@quizzes.StartTime</td>
            <td>@quizzes.EndTime</td>
            <td>@quizzes.TimeLimit</td>
            <td>@quizzes.Questions</td>
        </tr>
    }
</table>

<style>
    button {
        padding: 10px;
        margin: 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    table {
        border: 1px solid;
    }
</style>