@{
    Layout = "~/Views/Shared/_MainPage.cshtml";
}

<div class="hello">
    <br />
    <h1 style="text-align:center;">Kết quả thi</h1>
    <br />
</div>

<div class="container">
    <br />
    <div class="search">
        <br />
        <form asp-action="SearchScores_StudentView" method="get">
            <input type="text" name="searchQuery" placeholder="Tìm kiếm theo MSSV" />
            <button type="submit">Tìm kiếm</button>
        </form>
        <br />
    </div>
    <br />

    @model IEnumerable<QuizManagement.Models.Scores>
    <table>
        <tr>
            <th>Student ID</th>
            <th>Quiz ID</th>
            <th>Questions</th>
            <th>Correct Answers</th>
            <th>Score</th>
        </tr>
        @foreach (var scores in Model ?? new List<QuizManagement.Models.Scores>())
        {
            <tr>
                <td>@scores.StudentID</td>
                <td>@scores.QuizID</td>
                <td>@scores.Questions</td>
                <td>@scores.Correct</td>
                <td>@scores.Score</td>
            </tr>
        }
    </table>
</div>


<style>
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button {
        padding: 10px;
        margin: 10px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input {
        width: 500px;
        height: 36px;
    }

    .container {
        height: 100vh;
        width: 100vw;
    }

    table {
        border: 1px solid;
        transform: translateX(20vw);
        text-align: left;
    }

    th {
        background-color: black;
        color: white;
    }

    tr {
        height: 20px;
    }

    td {
        width: auto;
    }
</style>